body { background-color: white; color: black; font-family: verdana, helvetica, sanf serif; font-size: 12px; }

a:link { font-weight: bold; color: #336699; }
a:visited { color: #336699; }
a:hover { color: #800000; background-color: #ffff80; }
a:active { color: #006666; }

img { border: 0; }

div { padding: 0px; margin: 0px; }

hr { height: 0px; color: #336699; }

pre { font-size: 12px; }
