<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
     This is the web-app configurations that allow Cocoon to work under
     Apache Tomcat. Please, follow the installation section of the
     documentation for more information about installing Cocoon on Tomcat
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
 <description>Demo application for Cocoon2</description>
 <display-name>Cocoon2 Demo</display-name>
 <servlet>
  <description>The main Cocoon2 servlet</description>
  <display-name>Cocoon2</display-name>
  <servlet-name>Cocoon2</servlet-name>
  <servlet-class>org.apache.cocoon.servlet.CocoonServlet</servlet-class>
  <init-param>
  <param-name>configurations</param-name>
   <!-- CHANGE PATH BELOW -->
   <param-value>/cocoon.xconf</param-value>
  </init-param>
  <init-param>
   <param-name>classpath-attribute</param-name>

   <!-- Remove the ones you don't need. -->
   <param-value>
     <!-- This is for Tomcat 3.x -->
     org.apache.tomcat.jsp_classpath

     <!-- This is for Tomcat 4.x -->
     org.apache.catalina.jsp_classpath

     <!-- This is for Coucho Resin -->
     caucho.class.path

     <!-- This is for IBM WebSphere -->
     com.ibm.websphere.servlet.application.classpath
   </param-value>
  </init-param>
  <init-param>
   <param-name>log-level</param-name>
   <param-value>DEBUG</param-value>
  </init-param>
    <init-param>
      <param-name>load-class</param-name>
      <param-value>
        <!-- For IBM WebSphere: -->
        com.ibm.servlet.classloader.Handler

        <!-- For PostgeSQL Database: -->
        postgresql.Driver

        <!-- For Oracle Database: -->
        oracle.jdbc.driver.OracleDriver
      </param-value>
    </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>Cocoon2</servlet-name>
  <url-pattern>/</url-pattern>
 </servlet-mapping>
</web-app>

