<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- 
     This is the web-app configurations that allow Cocoon to work under
     Apache Tomcat. Please, follow the installation section of the
     documentation for more information about installing Cocoon on Tomcat 
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
 <servlet>
  <servlet-name>Cocoon2</servlet-name>
  <servlet-class>org.apache.cocoon.servlet.CocoonServlet</servlet-class>
  <init-param>
   <param-name>configurations</param-name>
   <!-- CHANGE PATH BELOW -->
   <param-value>/cocoon.xconf</param-value>
  </init-param>
  <init-param>
   <param-name>classpath-attribute</param-name>
   <!-- This is for Tomcat -->
   <param-value>org.apache.tomcat.jsp_classpath</param-value>

   <!-- Alternatively you can choose one of these:
        Catalina: org.apache.tomcat.jsp_classpath
        Resin:    caucho.class.path
        IBM:      com.ibm.websphere.servlet.application.classpath
   -->
  </init-param>
  <init-param>
   <param-name>log-level</param-name>
   <param-value>DEBUG</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>Cocoon2</servlet-name>
  <url-pattern>/</url-pattern>
 </servlet-mapping>
</web-app>

