<settings>
  <!-- <localRepository>tempRepo</localRepository> -->
  <mirrors>
    <mirror>
      <mirrorOf>central</mirrorOf>
      <id>ibiblioEuropeanMirror</id>
      <url>http://mirrors.dotsrc.org/maven2</url>
    </mirror>
    <!-- 
    <mirror>
      <mirrorOf>central</mirrorOf>
      <id>ibiblioAustralianMirror</id>
      <url>http://public.planetmirror.com/pub/maven2</url>
    </mirror>    
     -->
  </mirrors>
  <servers>
    <server>
      <id>apache-maven-snapshot</id>
      <username>jheymans</username>
      <directoryPermissions>775</directoryPermissions>
      <filePermissions>664</filePermissions>
    </server>
    <server>
      <id>cocoon-staging-repo</id>
      <username>YOUR_USERNAME_HERE</username>
      <directoryPermissions>775</directoryPermissions>
      <filePermissions>664</filePermissions>
    </server>
  </servers>
</settings>
