<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>output</title>
             
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
</head>
<body>
   
<h1>database<br>
</h1>
   
<p>Database modules provide an abstraction layer for different interfaces
used by database management systems for autoincrement columns. The value
can be obtained from the DBMS or some other source before or after the statement
is executed. Or some code can be inserted into the query to direct the DBMS
to use the next value of a sequence.</p>
  
</body>
</html>
