TD.titleText {
	 BACKGROUND: #eff7ff; PADDING-left: 5px;
}

TABLE.view {
  FONT-SIZE: 12px; 
  /*BORDER:#aca9ac 1px solid;*/
}

TD.headerTitle {
  BACKGROUND: #d5e2ee; 
  BORDER: #aca9ac 1px solid; 
  WIDTH: 100%;
}

TD.headerLeft {
  BACKGROUND: #f6f6f6; 
  BORDER-LEFT: #aca9ac 1px solid;
  BORDER-BOTTOM: #aca9ac 1px solid;
}

TD.header {
  BACKGROUND: #f6f6f6; 
  BORDER-LEFT: #aca9ac 1px solid; 
  BORDER-BOTTOM: #aca9ac 1px solid;
}
TD.headerRight {
  BACKGROUND: #f6f6f6; 
  BORDER-LEFT: #aca9ac 1px solid; 
  BORDER-BOTTOM: #aca9ac 1px solid;
  BORDER-RIGHT: #aca9ac 1px solid;
  WIDTH: 100%;
}

TD.itemLeft {
  BACKGROUND: #ffffff; 
  BORDER-LEFT: #aca9ac 1px solid; 
  BORDER-BOTTOM: #aca9ac 1px solid;
  vertical-align:top;
}

TD.item {
  BACKGROUND: #ffffff; 
  BORDER-LEFT: #aca9ac 1px solid; 
  BORDER-BOTTOM: #aca9ac 1px solid;  
  vertical-align:top;
}

TD.itemRight {
  BACKGROUND: #ffffff; 
  BORDER-LEFT: #aca9ac 1px solid; 
  BORDER-BOTTOM: #aca9ac 1px solid; 
  BORDER-RIGHT: #aca9ac 1px solid;
  WIDTH: 100%;
  vertical-align:top;
}

FONT.current {
  padding: 2px; 
  font-weight: bold; 
  color: #FFFFFF; 
  background-color:#00008B;
}

TABLE.srcView {
	FONT-SIZE: 12px; BORDER-LEFT:#dcdcdc 1px solid;BORDER-RIGHT:#dcdcdc 1px solid; BORDER-BOTTOM:#dcdcdc 1px solid;
}

TD.lineCount {
  BACKGROUND: #f6f6f6;
  BORDER-LEFT: #aca9ac 1px solid;
  BORDER-BOTTOM: #aca9ac 1px solid;
  BORDER-RIGHT: #aca9ac 1px solid;
  PADDING-RIGHT: 3px; 
  FONT-SIZE: 12px;
}

TD.srcLine {
  WIDTH: 100%;
  BORDER-BOTTOM: #aca9ac 1px solid;
  BORDER-RIGHT: #aca9ac 1px solid;
}

PRE.srcLine {
  BACKGROUND: #ffffff; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px;
}

TD.footer {
  BORDER-TOP:#dcdcdc 1px solid;	 FONT-SIZE: 9px
}

/* Token Colours */
FONT.CharacerLiteral	{ color: #FF00FF; }
FONT.StringLiteral		{ color: #FF00FF; }
FONT.SingleLineComment	{ color: #008000; }
FONT.FormalComment		{ color: #008000; }
FONT.MultiLineComment	{ color: #008000; }
FONT.ABSTRACT		{ color: #2020BF ; font-weight: normal }
FONT.BOOLEAN		{ color: #2020BF ; font-weight: normal }
FONT.BREAK			{ color: #2020BF ; font-weight: normal }
FONT.BYTE			{ color: #2020BF ; font-weight: normal }
FONT.CASE			{ color: #2020BF ; font-weight: normal }
FONT.CATCH			{ color: #2020BF ; font-weight: normal }
FONT.CHAR			{ color: #2020BF ; font-weight: normal }
FONT.CLASS			{ color: #2020BF ; font-weight: normal }
FONT.CONST			{ color: #2020BF ; font-weight: normal }
FONT.CONTINUE		{ color: #2020BF ; font-weight: normal }
FONT.DEFAULT		{ color: #2020BF ; font-weight: normal }
FONT.DO			{ color: #2020BF ; font-weight: normal }
FONT.DOUBLE		{ color: #2020BF ; font-weight: normal }
FONT.ELSE			{ color: #2020BF ; font-weight: normal }
FONT.EXTENDS		{ color: #2020BF ; font-weight: normal }
FONT.FALSE			{ color: #2020BF ; font-weight: normal }
FONT.FINAL			{ color: #2020BF ; font-weight: normal }
FONT.FINALLY		{ color: #2020BF ; font-weight: normal }
FONT.FLOAT			{ color: #2020BF ; font-weight: normal }
FONT.FOR			{ color: #2020BF ; font-weight: normal }
FONT.GOTO			{ color: #2020BF ; font-weight: normal }
FONT.IF			{ color: #2020BF ; font-weight: normal }
FONT.IMPLEMENTS		{ color: #2020BF ; font-weight: normal }
FONT.IMPORT		{ color: #2020BF ; font-weight: normal }
FONT.INSTANCEOF		{ color: #2020BF ; font-weight: normal }
FONT.INT			{ color: #2020BF ; font-weight: normal }
FONT.INTERFACE		{ color: #2020BF ; font-weight: normal }
FONT.LONG			{ color: #2020BF ; font-weight: normal }
FONT.NATIVE		{ color: #2020BF ; font-weight: normal }
FONT.NEW			{ color: #2020BF ; font-weight: normal }
FONT.PACKAGE		{ color: #2020BF ; font-weight: normal }
FONT.PRIVATE		{ color: #2020BF ; font-weight: normal }
FONT.PROTECTED		{ color: #2020BF ; font-weight: normal }
FONT.PUBLIC		{ color: #2020BF ; font-weight: normal }
FONT.RETURN		{ color: #2020BF ; font-weight: normal }
FONT.SHORT			{ color: #2020BF ; font-weight: normal }
FONT.STATIC		{ color: #2020BF ; font-weight: normal }
FONT.SUPER			{ color: #2020BF ; font-weight: normal }
FONT.SWITCH		{ color: #2020BF ; font-weight: normal }
FONT.SYCHRONIZED		{ color: #2020BF ; font-weight: normal }
FONT.THIS			{ color: #2020BF ; font-weight: normal }
FONT.THROW			{ color: #2020BF ; font-weight: normal }
FONT.THROWS		{ color: #2020BF ; font-weight: normal }
FONT.TRANSIENT		{ color: #2020BF ; font-weight: normal }
FONT.TRUE			{ color: #2020BF ; font-weight: normal }
FONT.TRY			{ color: #2020BF ; font-weight: normal }
FONT.VOID			{ color: #2020BF ; font-weight: normal }
FONT.VOLATILE		{ color: #2020BF ; font-weight: normal }
FONT.WHILE			{ color: #2020BF ; font-weight: normal }
FONT.StrictFP			{ color: #2020BF ; font-weight: normal }
FONT.LITERAL	{ color: #b27b8c }
FONT.IDENTIFIER { color: #000000 }

