pre.error {
  //font-size: 10pt;
  font-size: 120%;
}

span.lt { 
  background-color: #e5ffe5; 
  margin: 0px; 
  border: 0px; 
  padding: 0px; 
}

span.eq { 
  background-color: #ff0000; 
  margin: 0px; 
  border: 0px; 
  padding: 0px; 
}

span.gt { 
  background-color: #ffe5e5; 
  margin: 0px; 
  border: 0px; 
  padding: 0px; 
}

