body { background-color: #FFFFFF; margin: 0px 0px 0px 0px; font-family: Verdana, Helvetica, sans-serif;	font-size : 100%;}

.tab { font-size : 85%; border: 0 }
.tab a:link {   text-decoration : none; color: #000066;  }
.tab a:visited { text-decoration : none; color: #2A4A6D }
.tab a:hover { color: #0000FF; }
