#toolbar { 
	margin: 0px 0px 0px 0px; 
	padding: 3px 10px 3px 10px; 
	background-color: #eee; 
	border-bottom: 1px solid #ccc;
}
#toolbar .imagebutton { 
	height: 20px; 
	width: 20px; 
	border: 1px solid #eee; 
}
#toolbar .imagebutton img { 
	position: relative; 
	left: 0; 
	top: 0; 
}

#navigation {
	margin: 10px;
}

#navigation .date {
	color: #555;
	font-size: 80%;
	margin-left: 5px;
}	
	
#page {
	margin: 10px;
}

#page .field {
	margin-bottom: 5px;
}

#page input[name="title"] { 
	font-weight: bold; 
	font-size: 13px;
    color: #333;
}

#page iframe {
	border: 1px dashed #ccc;
}

#page #editpath {
	margin-top: 3px;
	font-weight: bold; 
	font-size: 10px;
    color: #888;
}

#input_toolbar {
	text-align: center;
	height: 25px;
}

#controls {
	margin: 10px 20px 20px 20px;
	text-align: center;
}

#previous_innerHTML {
	display: none;
}

#block_selector {
	margin: 0px 5px 0px 5px;
	visibility: hidden;
}

#class_selector {
	margin: 0px 5px 0px 5px;
	visibility: hidden;
}

.spacer {
	width: 15px;
}

.image_browser {
	border: 1 dashed red;
	margin: 5px;
	visibility: hidden;
}
