body { 
	padding: 0px; 
	margin: 0px; 
	border: 0px; 
	cursor: text; 
}

a { 
	cursor: text; 
}

img {
    border: 1px dotted #ccc;
}

hr {
	border: none;
	border-top: 1px solid #888;
	width: 70%;
}

.source { 
	font-family: "Monaco", "Lucida Console", monospace; 
	padding: 5px; 
	white-space: -moz-pre-wrap; 
}

.body { 
	padding: 5px; 
	margin: 0px; 
	border: 0px 
}

.body p { background-color: #eee }
.body p p { background-color: #ddd; }
.body p p p { background-color: #ccc; }

.body blockquote { background-color: #eee; }
.body blockquote blockquote { background-color: #ddd; }
.body blockquote blockquote blockquote { background-color: #ccc; }

.body ul li { background-color: #eee; }
.body ul ul li { background-color: #ddd; }
.body ul ul ul li { background-color: #ccc; }

.body ol li { background-color: #eee; }
.body ol ol li { background-color: #ddd; }
.body ol ol ol li { background-color: #ccc; }

.body br:before {
	content: "\21a9";
	font-size: 10px;
	text-style: none;
	color: #888;
}

.body h1,h2,h3,h4 {
	background-color: #eee;
}

.body img {
	cursor: pointer;
}
