/**
    Main CSS stylesheet for yapt
    Main looks inspired from linotype CSS stylesheets
*/

#content {
    font-family: "georgia", "times", "times new roman", serif;
    height:100%;
}

h1 {
    margin-bottom: 0;
    font-variant: small-caps;
    background: transparent;
    font-size: 150%;
}

h2 {
    margin-bottom: 0;
    background: transparent;
    font-size: 125%;
}

h3 {
    margin-bottom: 0;
    background: transparent;
}

.note {
    font-style: italic;
}

a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px dotted #777;
	margin: 0px 2px 0px 2px;
	padding: 1px 1px 1px 1px;
}

a:hover {
	border: 1px dotted #000;
	background-color: #eee;
	padding: 1px 2px 1px 2px;
	margin: 0px;
}

a:active {
	background-color: #ccc !important;
	position: relative;
	top: 1px;
	left: 1px;
	padding: 1px 2px 1px 2px;
	margin: 0px;
}

a:focus {
	border: 1px solid #fff !important;
	background-color: #ccc !important;
	padding: 1px 2px 1px 2px;
	margin: 0px;
}

/** slides index */
#slidesList .slideId {
    display: inline;
    margin-left; 2em;
    width: 3em;
    text-align: right;
}

#presHeading .commentLine {
    font-style: italic;
    margin:0.2em;
}

#presHeading .fieldName {
    display: inline;
    font-weight: bold;
}

#presHeading .fieldValue {
    display: inline;
}

#slidesList .slideTitle {
    display: inline;
}

/** navigation at the bottom of slides */
#navigation {
    position:fixed;
    margin: 0;
    padding: 0;
    height: 1em;
    left: 0;
    top: auto;
    right: 1em;
    bottom: 0;
    clear: both;
    font-size: 60%;
    text-align: right;
    line-height: 80%;
    display: inline;
}

#navigation div {
    display: inline;
}

#navigation a {
    border-bottom: none;
    color: grey;
}

/** style hints for slides */
.slideHintLotsOfText {
    font-size: 80%;
}
.slideHintLittleText {
    font-size: 120%;
}

/**
    Multiple slides on a single page:
    make sure each slide gets its own block, and prevent page breaks
    in slides when printing (does not work with all browser, Opera works)
*/

#multipleSlides div.singleSlide {
    page-break-inside: avoid;
    float: left;
    width: 100%;
    clear: both;
}

#multipleSlides img {
    page-break-inside: avoid;
}

#multipleSlides h1 {
    page-break-after: avoid;
}
