<html><head>
<title>Cocoon Petstore Demo</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type" />
<META HTTP-EQUIV="Cache-Control" CONTENT="max-age=0"/>
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"/>
<meta http-equiv="expires" content="0"/>
<META HTTP-EQUIV="Expires" CONTENT="Tue, 01 Jan 1980 1:00:00 GMT"/>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
</head>

<body bgcolor="white">

<table background="images/bkg-topbar.gif" border="0" cellspacing="0" cellpadding="5" width="100%">
  <tbody>
  <tr>
    <td>
      <form method="post" action="index.do">
        <input type="image" border="0" src="images/logo-topbar.gif" />
        <select name="view" width="14" align="left" onChange="document.forms[0].submit()">
          <option value="jexl">Jexl</option>
          <option value="jxpath">JXPath</option>
          <option value="xsp">Xsp</option>
          <option value="velocity" selected="selected">Velocity</option>
        </select>
      </form>
    </td>
    <td align="right"><a href="viewCart.do"><img border="0" name="img_cart" src="images/cart.gif" /></a>
      <img border="0" src="images/separator.gif" />

#if ($accountForm.signOn) 
      <a href="signonForm.do">
      <img border="0" name="img_signin" src="images/sign-in.gif" /></a>
#else
      <a href="signonForm.do?signoff=true">
      <img border="0" name="img_signout" src="images/sign-out.gif" /></a>
      <img border="0" src="images/separator.gif" />
      <a href="editAccount.do">
      <img border="0" name="img_myaccount" src="images/my_account.gif" /></a>
#end

    <img border="0" src="images/separator.gif" /><a href="../help.html"><img border="0" name="img_help" src="images/help.gif" /></a>
    </td>
    <td align="left" valign="bottom">
      <form method="post" action="searchProducts.do">
        <input name="keyword" size="14" /> <input border="0" src="images/search.gif" type="image" />
      </form>
    </td>
  </tr>
  </tbody>
</table>

#parse( "view/templates/IncludeQuickHeader.vm" )

<!-- Support for non-traditional but simpler use of errors... -->
#if ($errors)
  #foreach ($error in $errors)
    <B><FONT color=RED>
      <BR>$error
    </FONT></B>
  #end
#end





