#parse ("view/templates/IncludeTop.vm")

<p>
<center>
<h2>My Orders</h2>
</center>
<table cellpadding="3" cellspacing="2" border="0" bgcolor="#008800" align="center">
<tr bgcolor="#CCCCCC">
  <td><b>Order ID</b></td>
  <td><b>Date</b></td>
  <td><b>Total Price</b></td>
  <td><b>Status</b></td>
</tr>
#foreach ($order in $orderList)
<tr bgcolor="#FFFF88">
  <td><b><a href="viewOrder.do?orderId=${order.orderid}"><font color="BLACK">$order.orderid</font></a></b></td>
  <td>$order.orderdate</td>
  <td>$fmt.formatNumber($order.totalprice, '$#,##0.00')</td>
  <td><b>$order.status</b></td>
</tr>
#end
</table>
</p>


#parse("view/templates/IncludeBottom.vm")


