#parse ("view/templates/IncludeTop.vm")

<br clear="all" />
<center><b><font color="RED">$message </font></b></center><br clear="all" />

<form action="${continuation.id}.kont" method="POST">







<table align="center" border="0">
<tr>
<td colspan="2">Please enter your username and password.
<br /> </td>
</tr>
<tr>
<td>Username:</td>
<td><input type="text" name="username" value="j2ee" /></td>
</tr>
<tr>
<td>Password:</td>
<td><input type="password" name="password" value="j2ee" /></td>
</tr>
<tr>
<td> </td>
<td><input type="image" border="0" src="images/button_submit.gif" name="update" /></td>
</tr>
</table>
</form>
<center>
<a href="${registerType}Account.do">
<img border="0" src="images/button_register_now.gif" />
</a>
</center>


#parse("view/templates/IncludeBottom.vm")


