<br />
#if ($accountForm.account)
  #if ($accountForm.account.username)
    #if ($accountForm.account.bannerOption) 
      <table align="center" background="images/bkg-topbar.gif" cellpadding="5" width="100%">
      <tr><td>
#if ($accountForm.account.bannerName.length() > 0) 
      <center>
          $accountForm.account.bannerName
	  </image>
      </center>
#end
      </td></tr>
      </table>
    #end
  #end
#end
<p align="center">
<a href="http://cocoon.apache.org/"><img border="0" align="center" src="images/cocoon.gif" /></a>
</p>
</body>
</html>
