/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
li {
  list-style-type: none
}

/* The actions buttons, placed on the right */
.actions {
  float: right;
  padding-top: 0.2em;
}

/* A "section" contains stuff, related actions and substuff */
div.section {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  border: 1px dotted black;
  mmargin-top: 0.4em;
  margin-bottom: -1px;
}

/* Indent sub-sections (recursively) */
div.section div.section {
  margin-left: 1em;
  border-right: none;
}

/* Change bg color depending on nesting depth */
div.section div.section { background-color: #F0F0F0; }
div.section div.section div.section { background-color: #E0E0E0; }
div.section div.section div.section div.section { background-color: #D0D0D0; }
div.section div.section div.section div.section div.section { background-color: #C0C0C0; }
div.section div.section div.section div.section div.section div.section { background-color: #D0D0D0; }
div.section div.section div.section div.section div.section div.section div.section { background-color: #E0E0E0; }
div.section div.section div.section div.section div.section div.section div.section div.section { background-color: #F0F0F0; }
