/**
    CSS stylesheet for yapt images
    based on ideas and tutorials from http://www.bigbaer.com

    $Id: yapt-images.css,v 1.1 2003/09/26 14:42:36 bdelacretaz Exp $
*/

/** basic images stuff */
img {border: 0;}

/** allow an image to follow its DIV's size */
img.scaledImage {
  width: 100%;
}

/** classes of images for position (left, right, top) and width */

.fullWidth { float:top: width: 100%; }
.leftThird { float: left; width: 33%; }
.leftHalf { float: left; width: 50%;}
.rightThird { float: right; width: 33%; }
.rightHalf { float: right; width: 50%;}

/** common stuff for images */
div.leftThird,
div.leftHalf,
div.rightThird,
div.rightHalf
{
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center
}

/** image caption if any */
p.caption {
  font-style: italic;
  font-size: smaller;
}
