body { background-color: white; color: black; font-family: verdana, helvetica, sanf serif; font-size: 80%; }

h1 { color: #336699; text-align: center; font-size: 3em; padding-bottom: 10px; margin: 0px; }

a:link { font-weight: bold; color: #336699; }
a:visited { color: #336699; }
a:hover { color: #800000; background-color: #ffff80; }
a:active { color: #006666; }

img { border: 0; }
.figure { text-align: center; }

span.year { color: #336699; }

p.copyright { text-align: center; color: #336699; padding-top: 10px; border-width: 1px 0px 0px 0px; border-style: solid; border-color: #336699; }
p.author { color: #336699; padding-bottom: 10px; }
p.block { text-align: center; }

hr { height: 0px; color: #336699; }

span.description { color: #336699; font-weight: bold; }
span.switch { cursor: pointer; margin-left: 5px; text-decoration: underline; }
